*{
margin:0px;
padding:0px;
}

html{
width:100%;
background-image:url(images/bg.jpg);
background-position:top left;
background-repeat:repeat-x;
background-color:#c0c0c0
}

body{
width:636px;
margin:0 auto;
padding:0;
}

#menuTop{
background-image:url(../images/header2.jpg);
width:636px; 
height:87px;
}

#menuTop ul{
list-style:none; 
padding:62px 0 5px 190px;
}

#menuTop li{
float:left;
}


#current a{
font-family: "Brittanic Bold";
font-size: .9em;
font-weight:bold;
display:block;
color:#ffffff;
text-decoration:none;
padding:0 0 0 5px;
line-height: 25px;
margin-right:1px;
background: url(../images/btnMenu.jpg);
width:75px;
height:25px;
text-align:center;
}

.disabled a{
cursor:default;
font-family: "Brittanic Bold";
font-size: .9em;
font-weight:bold;
display:block;
color:#ffffff;
text-decoration:none;
padding:0 0 0 5px;
line-height: 25px;
margin-right:1px;
background: url(../images/btnDisabled.jpg);
width:75px;
height:25px;
text-align:center;
}

#active a{
cursor:default;
font-family: "Brittanic Bold";
font-size: .9em;
font-weight:bold;
display:block;
color:#ffffff;
text-decoration:none;
padding:0 0 0 5px;
line-height: 25px;
margin-right:1px;
background: url(../images/btnMenuCurrent.jpg);
width:px;
height:25px;
text-align:center;
}

/*
#menuTop li a:link, #menuTop li a:visited{
font-family: "Brittanic Bold";
font-size: .9em;
font-weight:bold;
display:block;
color:#ffffff;
text-decoration:none;
padding:0 0 0 5px;
line-height: 25px;
margin-right:1px;
background: url(../images/btnMenuCurrent.jpg);
width:75px;
height:25px;
text-align:center;
}


#menuTop li a:hover, #menuTop li a:active{
font-family: "Brittanic Bold";
font-size: .9em;
font-weight:bold;
display:block;
color:#ffffff;
text-decoration:none;
padding:0 0 0 5px;
line-height: 25px;
margin-right:1px;
background: url(../images/btnMenu.jpg);
width:75px;
height:25px;
text-align:center;
}
*/

#mainMenu{
background-image:url(../images/menu-bg1.jpg);
width:636px; 
height:35px;
}

#mainMenu ul{
float:left;
margin:0;
padding:7px 0 5px 165px;
}

#mainMenu li{
float:left;
list-style:none;
}

/*
#mainMenu li a:link, #mainMenu li a:visited{
font-family: "Arial";
font-size: .8em;
font-weight:bold;
display:block;
color:#3300cc;
text-decoration:none;
padding:0 0 0 5px;
line-height: 25px;
margin-right:1px;
background: url(../images/nav_rollover.jpg);
width:95px;
height:20px;
text-align:center;
}
*/
#active2 a{
font-family: "Arial";
font-size: .8em;
font-weight:bold;
display:block;
color:#3300cc;
text-decoration:none;
padding:0 0 0 5px;
line-height: 25px;
margin-right:1px;
background: url(../images/nav_rollover.jpg);
width:95px;
height:20px;
text-align:center;
}

.disabled2 a{
font-family: "Arial";
font-size: .8em;
font-weight:bold;
display:block;
color:#ffffff;
text-decoration:none;
padding:0 0 0 5px;
line-height: 25px;
margin-right:1px;
background: url(../images/btnMenu2Disabled.jpg);
width:95px;
height:20px;
text-align:center;
}
/*
#mainMenu li a:hover, #mainMenu li a:active{
font-family: "Arial";
font-size: .8em;
font-weight:bold;
display:block;
color:#3300cc;
text-decoration:none;
padding:0 0 0 5px;
line-height: 25px;
margin-right:1px;
background: url(../images/nav_hover.jpg);
width:75px;
height:20px;
text-align:center;
}
*/
#mainMenu li a.current{
font-family: "Arial";
font-size: .8em;
font-weight:bold;
display:block;
color:#3300cc;
text-decoration:none;
padding:0 0 0 5px;
line-height: 25px;
margin-right:1px;
background: url(../images/nav_hover.jpg);
width:95px;
height:20px;
text-align:center;	
}

#subMenu1{
width:100px; 
height:120px; 
background-color:#ffffff; 
text-align:center;
position:absolute;
padding-top:5px;
border: 1px solid gray;
}

#subMenu1 a:link, a:visited{
font-family:"Arial";
color:#000000;
font-size: .6em;
margin-left: 2px;
text-decoration:none;
float:left;
}

#subMenu1 a:hover, a:active{
font-family:"Arial";
color:blue;
font-size: .6em;
margin-left: 2px;
text-decoration:none;
float:left;
}


#subMenu1 img{
text-align:center; 
padding:0 0 2px 8px;
float:left;
}

#footers{
width:626px;
height:30px;
float:left;
padding-top:10px;
color:#222e39;
text-align:center;
}

/* ===== spacer for the 2 columns ===== */
#spacer{
width:5px;
height:1px;
float:left;
}

#content{
background-color:#ffffff;
width:626px;
position:absolute;
padding:5px 5px 5px 5px;
font-family:Tahoma;
font-size:11px;
color:#6c6c6c;
background-image:url(images/gray.gif);
background-position:381px 16px;
background-repeat:no-repeat
}


.column{ -webkit-border-top-left-radius:12px; -webkit-border-top-right-radius:12px; -webkit-border-bottom-right-radius:12px; -webkit-border-bottom-left-radius:12px;
background-color:#f1efef;
width:140px; 
height:400px;
float:left; 
padding:0 5px 0 0;
}

.column2{ -webkit-border-top-left-radius:12px; -webkit-border-top-right-radius:12px; -webkit-border-bottom-right-radius:12px; -webkit-border-bottom-left-radius:12px;
background-color:#f1efef; 
width:470px; 
float:left;
height:400px;
padding:0 5px 0 0;
}

